

<!-- Default form add User -->

<form class="container adduser text-center border border-light p-5 justify-content-center"   method="POST"
(submit) = "addUserDetails()" [formGroup]="addUserForm">
    
    <p class="h4 mb-4"> Create New User  </p>

    <!-- First Name -->
    <div class="col">
    <div>
    <small [class.d-none]= "addUserForm.get('fname')!.valid || addUserForm.get('fname')!.untouched" class="text-danger"
     > First name is required </small>
   
    <input id="fname" formControlName="fname" 
     name="fname" type="text"  class="form-control mb-4" placeholder="First Name">
    </div>
    </div>
    
    <!-- Last Name -->
    <div class="col">
    <div>
        <small [class.d-none]= "addUserForm.get('lname')!.valid || addUserForm.get('lname')!.untouched" class="text-danger"
        > Last name is required </small>
    
    <input id="lname" formControlName="lname" 
    name="lname" type="text"  class="form-control mb-4" placeholder="Last Name">
    </div>
    </div>
    
    
   <!-- Email -->
    <div class="col">
    <div>
   <div *ngIf="addUserForm.get('email')!.invalid && addUserForm.get('email')!.touched">
    <small class="text-danger" *ngIf="addUserForm.get('email')!.errors?.['required']"> Email is required </small>
    <small class="text-danger" *ngIf="addUserForm.get('email')!.errors?.['pattern']"> Email format incorrect </small>

    </div>

   <input id="email" formControlName="email" 
   name="email" type="text"  class="form-control mb-4" placeholder="Email">
    </div>
    </div>

    <div class="col">
    <div>
    <div class="form-group">
        <small [class.d-none]= "addUserForm.get('pwd')!.valid || addUserForm.get('pwd')!.untouched" class="text-danger"> Password is required </small>        
        <input id="pwd" formControlName="pwd" 
        name="pwd" type="password"  class="form-control mb-4" id="exampleFormControlTextarea2" rows="3" placeholder="Password">
    </div>
    </div>
    </div>

    <div class="col">
    <div>
    <div class="form-group">
        <small [class.d-none]= "addUserForm.get('cnfrmpwd')!.valid || addUserForm.get('cnfrmpwd')!.untouched" class="text-danger"> Confrim Password is required </small>        
        <input id="cnfrmpwd" formControlName="cnfrmpwd" 
        name="cnfrmpwd" type="password"  class="form-control mb-4" id="exampleFormControlTextarea2" rows="3" placeholder="Confirm Password">

    </div>
   </div>
   </div>
    <!-- Send button -->
    
    <button id="addbtn" class="btn btn-success" type="submit"
    [disabled]="addUserForm.get('fname')!.invalid || addUserForm.get('lname')!.invalid || addUserForm.get('email')!.invalid || addUserForm.get('pwd')!.invalid || addUserForm.get('cnfrmpwd')!.invalid"
    >Save </button>
   
  
</form>
<!-- Default form contact -->
