body{
    /* background-image: url('../images/bg3.jpg'); */
    background-size: cover;
    
  }
.deck{
    margin-top: 0%;
    margin-bottom: 10px;
}
.navbar{
    background:rgb(0, 0, 0);
    opacity: .75;
    
    width:100%;
}
li{
    list-style: none;
}
.evenitem{
    float: left; 
    margin-left: 100px;
    background-color: rgb(252, 251, 250);
    opacity: 0.75;
    color: rgb(8, 8, 8);
    border-radius: 5px;
    width: 75%;
    margin-bottom: 10px;
    border-color: black;
    border: double;
}
.odditem{
     float: right; 
    margin-left: 200px;
    margin-right: 100px;
    align-items: center;
    background-color: rgb(11, 11, 11);
    opacity: 0.75;
    color:white;
    border-radius:5px ;
    width: 75%;
    margin-bottom: 10px;
    border-color: white;
    border: double;

}
.last{
    margin-bottom: 100px;
}

h1{
    margin-top: 80px;
}

h2{
    margin-left: 100px;
    margin-top: 50px;
}

img {
    width: 180px !important;
    height: 200px !important;
    
}

.carousel{
    padding-left: 75px;
    padding-right: 75px;
    padding-top: 50px;
}

.books{
    padding-left: 75px;
    padding-right: 75px;
    padding-top: 50px;
}



.deck{
    margin-top: 100px;

}
.card{
    background-color: rgba(0, 0, 0, 0.8);

    color: rgb(255, 255, 255);
    margin-left: 150px;
    margin-right: 150px;
}

.card-block{

    margin-top: 50px;
    margin-bottom: 50px;
}

.rounded-circle{
    margin:10px;
    border: solid white 1px;
}

footer{
    
    color: white;
    background: black;
    opacity:.75 !important;
    
}

a{
    color: white;
    float: right;
    text-decoration: none !important;
}

a:hover{
    color: white;
}
