<section class="deck mb-10">
  <ul>
  <li *ngFor="let strat of strategy; let i=index; let e=even; let o=odd let last=last"
  [ngClass]="{evenitem:e,odditem:o, lastitem:last}">
  <a
              routerLink="/singlestrategy/{{ strat._id }}"
              class="btn btn-info btn-sm"
              >ReadMore</a
            >
  <h4 >{{ strat.stratname }}</h4>
            strategy:{{ strat.strategy }}
            
  </li>
  </ul>
    <!-- <div class="card">
      <div class="row"> -->
        <!-- <div class="col-md-4 pic">
                    <img class="rounded-circle" src="{{st}}" class="w-100">
                </div> -->
        <!-- <div class="col-md-8 px-3 about">
          <div class="card-block px-3"> -->
            
          
</section>