
    
    <!-- Material form register -->
    <div class="card mx-auto container ">
        <h3 class="card-header info-color white-text text-center py-4">
          <strong>Edit User</strong>
        </h3>
        <br />
  
        <!--Card content-->
        <div class="card-body px-lg-5 pt-0 ">
          <!-- Form -->
          <form 
            [formGroup]="editUserForm"
            class="text-center form-group avoid-clicks"
          >
            <div class="form-row">
              <div class="col">
                <!-- First name -->
                <div class="md-form">
                  <label for="fname">First name</label>
                  <input type="text" 
                  [(ngModel)] = "users.fname"
                  formControlName="fname" 
                  [class.is-invalid]="editUserForm.get('fname')!.invalid && editUserForm.get('fname')!.touched"
                  class="form-control"/>
                  
                </div>
                <small [class.d-none]= "editUserForm.get('fname')!.valid || editUserForm.get('fname')!.untouched" class="text-danger"> First name is required </small>
  
              </div>
  
              <div class="col">
                <!-- Last name -->
                <div class="md-form">
                  <label for="lname">Last name</label>
                  <input type="text" 
                  name="lname" 
                  [(ngModel)] = "users.lname"
                  formControlName = "lname" 
                  [class.is-invalid]="editUserForm.get('lname')!.invalid && editUserForm.get('lname')!.touched"
                  class="form-control" 
                  />
                  
                </div>
                <small [class.d-none]= "editUserForm.get('lname')!.valid || editUserForm.get('lname')!.untouched" class="text-danger"> Last name is required </small>
  
              </div>
            </div>
  
            <!-- E-mail -->
            <div class="md-form mt-0">
              <label for="email">E-mail</label>
              <input
                type="email"
                [(ngModel)] = "users.email"
                formControlName = "email"
                [class.is-invalid]="editUserForm.get('email')!.invalid && editUserForm.get('email')!.touched"
                class="form-control" [readonly] = "true"
              />
              <div *ngIf="editUserForm.get('email')!.invalid && editUserForm.get('email')!.touched">
              <small class="text-danger" *ngIf="editUserForm.get('email')!.errors?.['required']"> Email is required </small>
              <small class="text-danger" *ngIf="editUserForm.get('email')!.errors?.['pattern']"> Email format incorrect </small>
  
              </div>
            </div>
  
            <!-- Password -->
            <div class="md-form mt-0">
              <label for="pwd">Password</label>
              <input
                type="password"
                [(ngModel)] = "users.pwd"
                formControlName = "pwd"
                class="form-control"
                [class.is-invalid]="editUserForm.get('pwd')!.invalid && editUserForm.get('pwd')!.touched"
              />
              <div *ngIf="editUserForm.get('pwd')!.invalid && editUserForm.get('pwd')!.touched">
                <small class="text-danger" *ngIf="editUserForm.get('pwd')!.errors?.['required']"> Password is required </small>
                <small class="text-danger" *ngIf="editUserForm.get('pwd')!.errors?.['minlength']">Password should be atleast 8 characters</small>
  
              </div>
            </div>
            <br>
            <!-- Sign up button -->
            <!-- <button class="btn btn-outline-info btn-rounded  my-4 waves-effect z-depth-0" type="submit">Sign Up</button> -->
            <button
              name="update"
              [disabled]="editUserForm.get('fname')!.invalid || editUserForm.get('lname')!.invalid || editUserForm.get('email')!.invalid || editUserForm.get('pwd')!.invalid "
              type="button"
              class="btn btn-success text-center"
              (click)="editUserDetails()"    >
              Update
            </button>
            <br />
            
          </form>
          <!-- End of Form -->
        </div>
      </div>
      <!-- End of Material form register -->
  
    