<!-- Footer -->
<footer class="page-footer font-small unique-color-dark pt-2 fixed-bottom">

    
    <!-- <ngx-newsticker title="Live News" [events]="eventList"></ngx-newsticker>  -->
    <!-- <div class="ticker-wrapper-h">
        <div class="heading" >LatestNews</div>
        
        <ul class="news-ticker-h" *ngFor="let d of data">
             <li> {{ d.title }} </li>
             <li> {{ d.description }} </li>
             <li> {{ d.snippet }} </li>
             <li> {{ d.url }} </li>

             <!-- <li> {{ data.url }} </li> -->


             <!-- <li {{}} data.description }} ></li>
             <li><a href={{data.url }}></a></li> -->

            <!-- <li>{{title}}</li> -->
            <!-- <li><a href="">On 24 September 2022 Rich Universe Network announced that the Annual G...</a></li>
            <li><a href="">Read more at: https://www.capitalmarket.com/news/live-news</a></li>
            <li><a href="">Tata Consumer Products Q1 PAT jumps 15% YoY to Rs 277 cr  </a></li>
            <li><a href="">Bharti Airtel, Power Grid Corporation, HDFC, JSW Steel in focus</a></li>
            <li><a href="">Barometers turn range bound; Nifty hovers above 17,500 Read m...</a></li>
            <li><a href="">Asian stocks trading higher&nbsp;&nbsp;</a></li>
            <li><a href="">Wall Street soars as inflation falls more than expected in July</a></li> -->
        <!-- </ul>
    </div> --> 
    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2022 Developed By Jikku John, Aneesh Vishnudas, Soorej VS & Minnu Ambalath Muhammed
    </div>
    <!-- Copyright -->
    


</footer>

