.new {
    color:white;
    background-color: black;
}

.container{
    background-color: white;
    margin-top: 100px;
    opacity: 0.75;
    color: black;
}
.warning{
    margin-top: 20px;
    text-align: center;

}

.btn{
    margin-top: 10px;
}