 <section>

<div class="container mr-auto ml-auto">

    <h2>Strategy Position Details</h2>
    <div class="table-responsive">          
    <table class="table">
      <thead >
        <tr>
          <th>Instrument</th>
          <th>Strike</th>
          <th>Type</th>
          <th>Expiry</th>
          <th>Qty</th>
          <th>Entry Price</th>
          <th>Ltp</th>
          <th>PnL</th>

        </tr>
      </thead>
     <tbody *ngFor="let j of inst;">
  <tr>
      <td> BANKNIFTY_OPTIDX </td>
      <td placeholder=""> {{ j.strike }} </td>
      <td placeholder=""> {{ j.type }} </td>
      <td placeholder=""> {{ j.expiry }} </td>
      <td placeholder=""> {{ j.qty }} </td>
      <td placeholder=""> {{ j.entryPrice }} </td>
      <td placeholder=""> {{ j.LTP }} </td>
      <td placeholder="" [style.color]="getColor(j.pnl)"
      > {{ j.pnl }} </td>

  </tr>
</tbody>
      <tr>
        <th>Total</th>
        <td></td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td placeholder="" [style.color]="getColor(total)">{{ total }} </td>
      </tr>
    </table>
    </div>
    <button id="exitbtn" type="submit" class = "btn btn-danger btn-sm" style="float: right; margin-right: 25px" (click)="exitStrategy()"> Exit All Positions </button>

  </div>
</section>
